 <style>
        body {
  background-color: #363232;
}
        / style button /
      .btn {
          background-color: #086d3e; /* Blue background */
          border: none; /* Remove borders */
          color: white; /* White text */
          display: inline-block;
          padding: 15px 20px; /* Some padding */
          font-size: 25px; /* Set a font size */
          cursor: pointer; /* Mouse pointer on hover */
        }
        
        /* Darker background on mouse-over */
        .btn:hover {
          background-color:#086d3e;
        }
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a2c078a;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #086d3e;
}

      </style>